
.small-form-style {
    width: 300px;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
}

.tab-form-style {
    border: 0;
    border-radius: 0;
    margin-left: 100px;
    margin-right: 100px;
}

.tab-container {
    margin-top: 20px;
}

.react-tabs [role=tablist] {
    margin: 0;
}

.react-tabs [role=tabpanel] {
    border-bottom: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.FormField .Checkbox {
    padding: 0 5px;
    text-align: left;
}